<!DOCTYPE html>
<html>
<head>
  <title>Bookmarkmanager - <%=@title||"Liste"%></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="container">
	
		<div id="header">
			<h1>Meine Linksammlung</h1>
		</div>
		
		<div id="content">
		
			<% if flash[:notice]%>
				<p id="notice"><%= flash[:notice] %></p>
			<%end%>
			
			
			<%= yield %>
			
		</div>	
		
	</div>



</body>
</html>
